body {
    width: 20rem;
}

h1, h2 {
    text-align: center;
}

li {
    list-style-type: none;
}

.button-table {
    margin: 0 auto;
}

.button-table th {
    text-align: center;
}


button {
    width: 100px;
}