body {
    width: 20rem;
    opacity: 1;
}

.main-container {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

h1, h2, h3,
.active-sites-title {
    text-align: center;
}

li {
    list-style-type: none;
}

.button-table {
    margin: 0 auto;
}

.button-table th {
    text-align: center;
}

#site-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

button {
    width: 100px;
    border-radius: 6px;
    color: black;
    background: transparent;
    border: 2px solid #324680;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #324680;
    color: #ddd;
}